html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 추가 요소 초기화 */
button,
input,
select,
textarea {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
}

button {
    cursor: pointer;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type='search'] {
    -webkit-appearance: none;
    appearance: none;
}

textarea {
    overflow: auto;
    resize: none;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}
a {
    text-decoration: none;
}
a:visited {
    color: inherit;
}

.step {
    display: block;
    padding: 150px 0;
}
.step .container {
    display: block;
    width: 100%;
    max-width: 1030px;
    padding: 0px 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

.step .container .step_body {
    border: 1px solid #333;
    border-radius: 15px;
    padding: 30px 15px;
    box-sizing: border-box;
}

.step .container .title {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 50px;
}
.step .container .total_image {
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
}

.step .container .image_percent {
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
}
.step .container .image_percent b {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    margin-top: 10px;
}
.step .container .image_percent input {
    display: block;
    border: 1px solid #333;
    border-radius: 8px;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
}
.step .container .image_percent button {
    display: block;
    margin-top: 5px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    background: #333;
    color: #fff;
}

.step .container .btn_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}
.step .container .btn_wrap button {
    display: block;
    margin-top: 5px;
    border-radius: 5px;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 14px;
    background: #333;
    color: #fff;
}

.step .step_body b.check_mode_title {
    margin-bottom: 15px;
    display: block;
}
.step .step_body .check_mode {
    display: flex;
    align-items: center;
    justify-content: normal;
    gap: 16px;
}
.step .step_body input[type='radio'] {
    position: fixed;
    left: -9999px;
}
.step .step_body input[type='radio'] + label {
    display: block;
    padding: 5px 10px;
    cursor: pointer;
    border:1px solid #333;
}
.step .step_body input[type='radio']:checked + label {
    display: block;
    background: #7300f0;
    width: fit-content;
    color: #fff;
}

.task_mode_content .tmc_title {
    display: block;
    margin-top: 35px;
    font-size: 24px;
    font-weight: bold;
}
.task_mode_content .tmc {
    display: flex; align-items: center; justify-content: normal; margin-top: 10px;
}
.task_mode_content .tmc p {
}
.task_mode_content .tmc input {
    border:1px solid #333; margin-left: 10px; padding: 10px 5px;
}
